.display-heading {
  padding: 1.5rem;
}
#catalogues-container {
  margin-top: 2rem;
}
.browse-more {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 5rem;
}
.bottom-text {
  padding: 1.5rem;
  text-align: center;
} 
.not-found {
  text-align: left;
  padding: 2rem;
}
.not-found-help-link {
  padding: 2rem;
}
.nav-bar {
 background: #4b286d;
}
.device-card {
  padding: 0.25rem;
}
#device-brand {
  text-transform: uppercase;
  margin-bottom: 0.25rem;
}
#device-name {
  color: #4b286d;
  font-weight: 400;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
.device-image {
  text-align: center;
}
#device-card-group {
  padding: 1.5rem;
}
